################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WEBAPIREST/.vs/WEBAPIREST/v16/.suo
